In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from string import punctuation
from collections import Counter
%matplotlib inline

In [3]:
sentiment_data = pd.read_csv('kaggle_sentiment1.csv',sep='\t',encoding='latin-1')
sentiment_data.columns =['Class', 'Data']

In [5]:
unlabeld_data = pd.read_csv('unlabeld_data.txt', sep='\t',encoding='latin-1')
unlabeld_data.columns = ['Data']

In [6]:
sentiment_data.head()

   Class                                               Data
0      1  this was the first clive cussler i've ever rea...
1      1                   i liked the Da Vinci Code a lot.
2      1                   i liked the Da Vinci Code a lot.
3      1  I liked the Da Vinci Code but it ultimatly did...
4      1  that's not even an exaggeration ) and at midni...

In [7]:
unlabeld_data.head()

                                                Data
0  harvard is dumb, i mean they really have to be...
1                   I'm loving Shanghai > > > ^ _ ^.
2                        harvard is for dumb people.
3  As i stepped out of my beautiful Toyota, i hea...
4  Bodies being dismembered, blown apart, and mut...

In [8]:
from sklearn.utils import shuffle
sentiment_data = shuffle(sentiment_data)
unlabeld_data = shuffle(unlabeld_data)

In [9]:
sentiment_data.head()

      Class                                               Data
2224      1  the story of Harry Potter is a deep and profou...
6163      0       So Brokeback Mountain was really depressing.
6369      0  , she helped me bobbypin my insanely cool hat ...
4374      0                               Da Vinci Code sucks.
2143      1     Personally, I love reading Harry Potter books.

In [10]:
labels = sentiment_data.iloc[:, 0].values
reviews = sentiment_data.iloc[:, 1].values
unlabeled_reviews = unlabeld_data.iloc[:,0].values

In [11]:
reviews_processed = []
unlabeled_processed = [] 
for review in reviews:
    review_cool_one = ''.join([char for char in review if char not in punctuation])
    reviews_processed.append(review_cool_one)
    
for review in unlabeled_reviews:
    review_cool_one = ''.join([char for char in review if char not in punctuation])
    unlabeled_processed.append(review_cool_one)

In [12]:
word_reviews = []
word_unlabeled = []
all_words = []
for review in reviews_processed:
    word_reviews.append(review.lower().split())
    for word in review.split():
        all_words.append(word.lower())

for review in unlabeled_processed:
    word_unlabeled.append(review.lower().split())
    for word in review.split():
        all_words.append(word.lower())
    
counter = Counter(all_words)
vocab = sorted(counter, key=counter.get, reverse=True)

In [13]:
vocab_to_int = {word: i for i, word in enumerate(vocab, 1)}

In [14]:
reviews_to_ints = []
for review in word_reviews:
    reviews_to_ints.append([vocab_to_int[word] for word in review])

In [15]:
unlabeled_to_ints = []

for review in word_unlabeled:
    unlabeled_to_ints.append([vocab_to_int[word] for word in review])

In [16]:
reviews_lens = Counter([len(x) for x in reviews_to_ints])
print('Zero-length {}'.format(reviews_lens[0]))
print("Max review length {}".format(max(reviews_lens)))

Zero-length 0
Max review length 931

In [17]:
seq_len = 250

features = np.zeros((len(reviews_to_ints), seq_len), dtype=int)
for i, review in enumerate(reviews_to_ints):
    features[i, -len(review):] = np.array(review)[:seq_len]
    
features_test = np.zeros((len(unlabeled_to_ints), seq_len), dtype=int)
for i, review in enumerate(unlabeled_to_ints):
    features_test[i, -len(review):] = np.array(review)[:seq_len]

In [18]:
X_train = features[:6400]
y_train = labels[:6400]

X_test = features[6400:]
y_test = labels[6400:]

X_unlabeled = features_test

print('X_trian shape {}'.format(X_train.shape))
print('X_unlabeled shape {}'.format(X_unlabeled.shape))

X_trian shape (6400, 250)
X_unlabeled shape (28936, 250)

In [19]:
hidden_layer_size = 512 # how many nodes LSTM cells will have
number_of_layers = 1 # how many RNN layers the network will use
batch_size = 100 # how many reviews we feed at onces
learning_rate = 0.001 # learning rate
number_of_words = len(vocab_to_int) + 1 #how many unique words do we have in vocab (+1  is used for 0 - padding)
dropout_rate = 0.8 
embed_size = 300 #how long our word embedings will be
epochs = 6 # how many epochs do we use for training

In [20]:
tf.reset_default_graph() #Clean the graph

In [21]:
inputs = tf.placeholder(tf.int32, [None, None], name='inputs')
targets = tf.placeholder(tf.int32, [None, None], name='targets')

In [22]:
word_embedings = tf.Variable(tf.random_uniform((number_of_words, embed_size), -1, 1))
embed = tf.nn.embedding_lookup(word_embedings, inputs)

In [23]:
hidden_layer = tf.contrib.rnn.BasicLSTMCell(hidden_layer_size)
hidden_layer = tf.contrib.rnn.DropoutWrapper(hidden_layer, dropout_rate)

cell = tf.contrib.rnn.MultiRNNCell([hidden_layer]*number_of_layers)
init_state = cell.zero_state(batch_size, tf.float32)

In [24]:
outputs, states = tf.nn.dynamic_rnn(cell, embed, initial_state=init_state)

In [25]:
prediction = tf.layers.dense(outputs[:, -1], 1, activation=tf.sigmoid)
cost = tf.losses.mean_squared_error(targets, prediction)

optimizer = tf.train.AdamOptimizer(learning_rate).minimize(cost)

In [26]:
currect_pred = tf.equal(tf.cast(tf.round(prediction), tf.int32), targets)
accuracy = tf.reduce_mean(tf.cast(currect_pred, tf.float32))

In [27]:
session = tf.Session()

In [28]:
session.run(tf.global_variables_initializer())

In [29]:
for i in range(epochs):
    training_accurcy = []
    ii = 0
    epoch_loss = []
    while ii + batch_size <= len(X_train):
        X_batch = X_train[ii:ii+batch_size]
        y_batch = y_train[ii:ii+batch_size].reshape(-1, 1)
        
        a, o, _ = session.run([accuracy, cost, optimizer], feed_dict={inputs:X_batch, targets:y_batch})

        training_accurcy.append(a)
        epoch_loss.append(o)
        ii += batch_size
    print('Epoch: {}/{}'.format(i, epochs), ' | Current loss: {}'.format(np.mean(epoch_loss)),
          ' | Training accuracy: {:.4f}'.format(np.mean(training_accurcy)*100))

Epoch: 0/6  | Current loss: 0.04100998863577843  | Training accuracy: 95.0156
Epoch: 1/6  | Current loss: 0.007614814676344395  | Training accuracy: 98.9844
Epoch: 2/6  | Current loss: 0.006560482084751129  | Training accuracy: 99.1406
Epoch: 3/6  | Current loss: 0.0023040405940264463  | Training accuracy: 99.7656
Epoch: 4/6  | Current loss: 0.0026075802743434906  | Training accuracy: 99.7500
Epoch: 5/6  | Current loss: 0.0023806614335626364  | Training accuracy: 99.7187

In [30]:
test_accuracy = []

ii = 0
while ii + batch_size <= len(X_test):
    X_batch = X_test[ii:ii+batch_size]
    y_batch = y_test[ii:ii+batch_size].reshape(-1, 1)

    a = session.run([accuracy], feed_dict={inputs:X_batch, targets:y_batch})
    
    test_accuracy.append(a)
    ii += batch_size

In [31]:
print("Test accuracy is {:.4f}%".format(np.mean(test_accuracy)*100))

Test accuracy is 99.6000%

In [45]:
predictions_unlabeled = []
ii = 0
while ii + batch_size <= len(X_unlabeled):
    if ii + batch_size > len(X_unlabeled):
        batch_size = len(X_unlabeled) - ii
    X_batch = X_unlabeled[ii:ii+batch_size]
    y_batch = X_unlabeled[ii:ii+batch_size].reshape(-1, 1)

    pred = session.run([prediction], feed_dict={inputs:X_batch, targets:y_batch})
    
    predictions_unlabeled.append(pred)
    ii += batch_size

In [46]:
print("Test accuracy is {:.4f}%".format(np.mean(predictions_unlabeled)*100))

Test accuracy is 57.2433%

In [47]:
pred_real = []
for i in range(len(predictions_unlabeled)):
    for ii in range(len(predictions_unlabeled[i][0])):
        if predictions_unlabeled[i][0][ii][0] >= 0.5:
            pred_real.append(1)
        else:
            pred_real.append(0)

In [48]:
np.savetxt('predictions.txt', pred_real)

In [49]:
new_dataframe = unlabeld_data[:len(pred_real)]

In [50]:
new_dataframe['Classes'] = pred_real

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
new_dataframe

                                                    Data  Classes
3460   people and i should rendezvous in the middle o...        0
26664                  God damn I love Angelina Jolie...        1
22165          That's why I most love the Harvard story:        1
24607              Stupid UCLA, deserves a good poking..        1
9529                                 I hate Tom Cruise..        0
25320  I'm not crazy about HK either, but Shanghai is...        1
8391   I love Tom Cruise, and with that, the original...        1
8522                           Komm mit is just so dumb.        1
8020   boston kinda sucked, but my cousin erica in co...        0
18428                                   I miss London...        1
15541  i wouldnt really recommend uk anymore i hate l...        0
11251                        and i blame angelina jolie!        0
9033                              I love Harvard guys...        1
1375   I HATE ANGELINA JOLIE so I guess Jennifer Anis...        0
7378         That Toyota FJ Cruiser is frikking awesome.        1
957                                 I so want a MacBook.        0
399     Lousy Seattle drunks..\r\ni think if i hate b...        1
27552   I love the lakers even tho Trav makes fun of me.        1
19232                  I really, really hate TOM CRUISE.        0
27549                          I miss Purdue right now..        1
1164   This superb View London Christmas gift basket ...        0
13942                                i love in seattle..        1
5945   I love Angelina Jolie and i love you even more...        1
20003       I loved Boston and MIT so much and still do.        1
26155  mostly these stupid guys with their shitty hon...        0
11566                     As much as I hate Tom Cruise..        0
11943  I love Angelina Jolie and i love you even more...        1
23366  Some ugly Toyota wanna be Hummer Honda Element...        0
3917                           The Lakers can suck me...        0
20900     and northwest airlines can suck my yankee ass.        0
...                                                  ...      ...
27283  i got like 9 AAA's during the course of the to...        1
24452                       By the way, I hate LONDON...        0
2360                               I LOVE PARIS HILTON..        1
16089  I like Tom Cruise and will boycott Paramount P...        0
26096  Well apparently all people driving toyota 4run...        0
10315                               I so want a MacBook.        0
16331                 I want the geico's one of course..        1
3323   I don't care if Tom Cruise is beautiful, he wa...        1
18559                 Boston can suck my fucking tits...        0
14156                   the stupid honda lol or a BUG!..        0
13972                                  tom cruise sucks.        0
26357  LOVE STORY IN HARVARD 23.5 % vs Pinoy Dream Ac...        1
6636                                    I miss London...        1
8427   i'm currently watching love at harvard on yout...        1
3675   I know you're way too smart and way too cool t...        0
16950                 More reason to love San Francisco.        1
16230                                    Stupid UCLA....        0
1291    her ink looks amazing and i love angelina jolie.        1
17843                              I love Paris Hilton..        1
10912                                     i love purdue.        1
15878           stupid lakers should have beat suns.....        0
7808                                I hate Paris Hilton.        0
16283                     Honda is excellent,'94 and up.        1
1163                                I hate the Lakers...        0
16967                 I love Harvard Square in the fall.        1
17509                besides, UCLA was a stupid dream...        0
20704                                paris hilton sucks.        0
17932  I'm beginning to really distrust Toyota dealer...        0
15663  after the drive, i found that i'll most likely...        0
20959                               , Boston is great...        1

[28900 rows x 2 columns]